@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.Heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: italic;
}
.spanelm{
    color: rgb(58, 210, 236);
    font-style: normal;
    font-size: 4rem;
}

.cont_todo_txt{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textfield{
    padding : 5px;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
}
#click{
    font-size: larger;
    color: white;
    width: 70px;
    background-color: rgb(150, 97, 185);
    border-radius: 5px;
    border: 2px rgb(150, 97, 185) solid;
    transition: all 0.5s;
} 

.todos{
    margin-left: auto;
    margin-right: auto;
    
}
.textstodo{
    width: 555px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}
.done{
    border-radius: 5px;
    width: 40px;
    margin-right: 5px;
    background-color: rgb(176, 247, 203);
    border: 1px solid rgb(176, 247, 203);
}
.delete{
    border-radius: 5px;
    width: 40px;
    background-color: rgb(252, 129, 154);
    border: 1px solid rgb(252, 129, 154);

}
.todobtns{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* border: solid 1px black; */
    width: 646px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Additional Styling*/

#click:hover {
    background-color: rgb(127, 247, 153);
    border:  rgb(127, 247, 153) 2px solid;
    color: rgb(150, 97, 185);
}
